/*-----------------pools-surveys------------------*/

.pns {
    width: 65%;
    margin: 6.5rem auto 0;
}

.tabs {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.tabs li {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.tabs li::after {
    content: "";
    position: absolute;
    bottom: -20%;
    left: -3%;
    width: 0%;
    height: 5px;
    background: #b9bcbe;
    border-radius: 30px;
    transition: width 0.8s ease;
}

.tabs li.active::after {
    width: 104%;
}

.container {
    position: relative;
}

.contents {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.contents.active {
    display:flex;
    animation: fade 1s ease;
}

/*
.content p {
    font-size: 1.5rem;
    text-align: center;
    width: 70%;
    margin: 1rem auto 0rem;
    color: #222;
    font-family: 'Poppins', sans-serif;
} */

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 70%;
    }
    section .pns {
        width: 100%;
    }
}